body {
  background-color: #000;
  margin: .5in;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#inner {
  border: 3px solid rgb(153,7,14);
  padding: 10px;
}
#header {
  font-family: 'Bree Serif', serif;
  background-color: #000;
  text-align: center;
  color: rgb(153,7,14);
}

#header h1 {
  font-size: 4em;
  text-shadow: 3px 3px 5px white;
}

#header h2 {
  font-size: 2em;
  font-style: italic;
  margin-top: -50px;
  margin-bottom: 20px;
}
#header h3 {
  font-size: 2em;
  margin-top: -20px;
  margin-bottom: 30px;
  color: white;
}

#navbar {
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
  background-color: rgb(153,7,14);
  padding: 5px;
  border: 2px solid white
}

#column1 {
  font-family: 'Bree Serif', serif;
  float: left;
  background-color: rgb(153,7,14);
  width: 50%;
  padding: 30px;
  color: black;
}

#column2 {
  font-family: 'Bree Serif', serif;
  float: right;
  background-color: #000;
  width: 50%;
  color: rgb(153,7,14);
  padding: 15px;
}

#cloak {
  float: right;
  width: 50%;
  display: inline-block;
}

#middle img {
  width: 100%;
}

#footer img {
  width: 200px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

#footer {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #header h1 {
    font-size: 2em;
  }
  #column1, #column2 {
    font-size: .75em;
  }
  body {
    margin: .25in;
  }
  #inner {
    padding:20px;
  }
  #header h2 {
    margin-top: -10px;
    font-size: 1em;
  }
  #header h3 {
    margin-top: -10px;
    font-size: 1em;
  }
  #header {
    padding: none;
  }
  #navbar li {
    display: block;
    padding:10px;
  }
}

@media only screen and (min-width: 320px) {
  #column1, #column2 {
    width: 100%;
    height: 100%;
  }
  #cloak {
    padding-left: 5px;
  }
  #navbar li {
    display: block;
    margin-right: 15px;
  }
}
